body {
    background-color: #b1bdd5;
    margin: 0;
    font: 12px system-ui;
}

.form {
    display: block;
    font: 2rem "Fira Sans", sans-serif;
    font-weight: bolder;
    color: #33332f;
    text-align: center;
}

.box {
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.6);
    height: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input,
label {
    margin: 1rem 0;
}

.title {
    text-align: center;
    color: wheat;
    font-size: 50px;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    background: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    width: calc(20% - 20px);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .item {
        width: calc(100% - 40px);
        margin: 20px;
    }
}

.city_title {
    padding-top: 5%;
    text-align: center;
    font-size: 20px;
    color: wheat;
}

